In [1]:
%matplotlib notebook

In [2]:
# import dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# csv to DataFrame
initial_data = pd.read_csv('social-influence-on-shopping.csv')
initial_data.head()

,Question,Segment Type,Segment Description,Answer,Count,Percentage
0,What social platform has influenced your onlin...,Mobile,Global results,Facebook,548,0.205
1,What social platform has influenced your onlin...,Mobile,Global results,Instagram,916,0.342
2,What social platform has influenced your onlin...,Mobile,Global results,Snapchat,86,0.032
3,What social platform has influenced your onlin...,Mobile,Global results,Twitter,179,0.067
4,What social platform has influenced your onlin...,Mobile,Global results,None,947,0.354

In [6]:
# 'Question' is the same throughout, so let's drop it
initial_data.drop(['Question'], axis=1, inplace=True)
initial_data.drop(['Segment Type'], axis=1, inplace=True)
initial_data.head()

  Segment Description     Answer  Count  Percentage
0      Global results   Facebook    548       0.205
1      Global results  Instagram    916       0.342
2      Global results   Snapchat     86       0.032
3      Global results    Twitter    179       0.067
4      Global results       None    947       0.354

In [7]:
# any missing values? if false, cool beans. if true, drop
initial_data.isnull().values.any()
# cool beans

False

In [12]:
categories = initial_data.groupby('Segment Description')
count_categories = categories['Segment Description'].count()
count_categories

Segment Description
Appalachian State University                       5
Arbroath Academy                                   5
Are you a? SVB team member                         5
Are you a? Student Trekker                         5
Are you single? No                                 5
                                                  ..
your zodiac sign? Pisces (Feb 19 - Mar 20)         5
your zodiac sign? Sagittarius (Nov 22 - Dec 21)    5
your zodiac sign? Scorpio (Oct 23 - Nov 21)        5
your zodiac sign? Taurus (Apr 20 - May 20)         5
your zodiac sign? Virgo (Aug 23 - Sep 22)          5
Name: Segment Description, Length: 289, dtype: int64

In [13]:
# overview
overview_df = pd.DataFrame(initial_data.iloc[0:5, :])
overview_df

  Segment Description     Answer  Count  Percentage
0      Global results   Facebook    548       0.205
1      Global results  Instagram    916       0.342
2      Global results   Snapchat     86       0.032
3      Global results    Twitter    179       0.067
4      Global results       None    947       0.354

In [15]:
# by gender - f/m
gender_df = pd.DataFrame(initial_data.iloc[10:20, :])
gender_df

   Segment Description     Answer  Count  Percentage
10       Female voters   Facebook    222       0.199
11       Female voters  Instagram    535       0.480
12       Female voters   Snapchat     29       0.026
13       Female voters    Twitter     57       0.051
14       Female voters       None    271       0.243
15         Male voters   Facebook    326       0.209
16         Male voters  Instagram    380       0.243
17         Male voters   Snapchat     56       0.036
18         Male voters    Twitter    122       0.078
19         Male voters       None    678       0.434

In [18]:
# income of parents
parents_income_df = pd.DataFrame(initial_data.iloc[915:935, :])
parents_income_df

,Segment Description,Answer,Count,Percentage
915,your parents make? Upper class (> $240K),Facebook,70,0.230
916,your parents make? Upper class (> $240K),Instagram,83,0.273
917,your parents make? Upper class (> $240K),Snapchat,8,0.026
918,your parents make? Upper class (> $240K),Twitter,13,0.043
919,your parents make? Upper class (> $240K),None,130,0.428
920,your parents make? Upper-middle class (~$160K,Facebook,71,0.157
921,your parents make? Upper-middle class (~$160K,Instagram,149,0.330
922,your parents make? Upper-middle class (~$160K,Snapchat,11,0.024
923,your parents make? Upper-middle class (~$160K,Twitter,42,0.093
924,your parents make? Upper-middle class (~$160K,None,178,0.395
925,your parents make? Middle / lower-middle class...,Facebook,41,0.121
926,your parents make? Middle / lower-middle class...,Instagram,111,0.326
927,your parents make? Middle / lower-middle class...,Snapchat,12,0.035
928,your parents make? Middle / lower-middle class...,Twitter,32,0.094
929,your parents make? Middle / lower-middle class...,None,144,0.424
930,your parents make? Poor (< ~$50K) 😁,Facebook,15,0.112
931,your parents make? Poor (< ~$50K) 😁,Instagram,45,0.336
932,your parents make? Poor (< ~$50K) 😁,Snapchat,7,0.052
933,your parents make? Poor (< ~$50K) 😁,Twitter,10,0.075
934,your parents make? Poor (< ~$50K) 😁,None,57,0.425

In [32]:
# ethnicities
ethnicity_asian = pd.DataFrame(initial_data.iloc[970:975, :])
ethnicity_black = pd.DataFrame(initial_data.iloc[1215:1220, :])
ethnicity_hispanic = pd.DataFrame(initial_data.iloc[1350: 1355])
ethnicity_white = pd.DataFrame(initial_data.iloc[1440:1445, :])
ethnicity_other = pd.DataFrame(initial_data.iloc[1170:1180, :])

# concatinating 
ethnicity_merge = [ethnicity_asian, ethnicity_black, ethnicity_hispanic, ethnicity_white, ethnicity_other]
ethnicity_df = pd.concat(ethnicity_merge)
ethnicity_df

                       Segment Description     Answer  Count  Percentage
970             closely identify as? Asian   Facebook     51       0.266
971             closely identify as? Asian  Instagram     61       0.318
972             closely identify as? Asian   Snapchat      7       0.036
973             closely identify as? Asian    Twitter      4       0.021
974             closely identify as? Asian       None     69       0.359
1215            closely identify as? Black   Facebook     13       0.138
1216            closely identify as? Black  Instagram     41       0.436
1217            closely identify as? Black   Snapchat      3       0.032
1218            closely identify as? Black    Twitter      8       0.085
1219            closely identify as? Black       None     29       0.309
1350         closely identify as? Hispanic   Facebook     20       0.177
1351         closely identify as? Hispanic  Instagram     38       0.336
1352         closely identify as? Hispanic   Snapchat      3       0.027
1353         closely identify as? Hispanic    Twitter     11       0.097
1354         closely identify as? Hispanic       None     41       0.363
1440            closely identify as? White   Facebook    352       0.224
1441            closely identify as? White  Instagram    498       0.317
1442            closely identify as? White   Snapchat     47       0.030
1443            closely identify as? White    Twitter    102       0.065
1444            closely identify as? White       None    573       0.365
1170            closely identify as? Other   Facebook     20       0.217
1171            closely identify as? Other  Instagram     34       0.370
1172            closely identify as? Other   Snapchat      3       0.033
1173            closely identify as? Other    Twitter      1       0.011
1174            closely identify as? Other       None     34       0.370
1175  closely identify as? Native American   Facebook      2       0.154
1176  closely identify as? Native American  Instagram      6       0.462
1177  closely identify as? Native American   Snapchat      0       0.000
1178  closely identify as? Native American    Twitter      2       0.154
1179  closely identify as? Native American       None      3       0.231