In [15]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import csv
import random

# csv to DataFrame
initial_data = pd.read_csv('social-influence-on-shopping.csv')
initial_data.head()

,Question,Segment Type,Segment Description,Answer,Count,Percentage
0,What social platform has influenced your onlin...,Mobile,Global results,Facebook,548,0.205
1,What social platform has influenced your onlin...,Mobile,Global results,Instagram,916,0.342
2,What social platform has influenced your onlin...,Mobile,Global results,Snapchat,86,0.032
3,What social platform has influenced your onlin...,Mobile,Global results,Twitter,179,0.067
4,What social platform has influenced your onlin...,Mobile,Global results,None,947,0.354

In [16]:
initial_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Question             1450 non-null   object
 1   Segment Type         1450 non-null   object
 2   Segment Description  1450 non-null   object
 3   Answer               1450 non-null   object
 4   Count                1450 non-null   int64
 5   Percentage           1450 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 68.1+ KB

In [17]:
##No blank/null values to drop

In [25]:
#segment types
segment_type_count= initial_data["Segment Type"].value_counts()

segment_type_count

University    870
Custom        560
Gender         10
Mobile          5
Web             5
Name: Segment Type, dtype: int64

In [28]:
# Convert Series into a DataFrame
segment_type_df = pd.DataFrame(segment_type_count)
segment_type_df

            Segment Type
University           870
Custom               560
Gender                10
Mobile                 5
Web                    5

In [ ]:
###GRAPH

In [26]:
#segment description
segment_description_count= initial_data["Segment Description"].value_counts()

segment_description_count

What's your major? Other              10
Westport, CT                           5
do per month? Less than an hour        5
Stephen F. Austin State University     5
University of Washington               5
                                      ..
Azusa Pacific University               5
Wake Forest University                 5
What's your GPA? 2.0 to 3.0            5
West Virginia University               5
UMass Amherst                          5
Name: Segment Description, Length: 289, dtype: int64

In [29]:
# Convert Series into a DataFrame
segment_description_df = pd.DataFrame(segment_description_count)
segment_description_df

                                    Segment Description
What's your major? Other                             10
Westport, CT                                          5
do per month? Less than an hour                       5
Stephen F. Austin State University                    5
University of Washington                              5
...                                                 ...
Azusa Pacific University                              5
Wake Forest University                                5
What's your GPA? 2.0 to 3.0                           5
West Virginia University                              5
UMass Amherst                                         5

[289 rows x 1 columns]

In [ ]:
##GRAPH

In [31]:
#answer count
answer_count= initial_data["Answer"].value_counts()

answer_count

Twitter      290
Snapchat     290
Facebook     290
None         290
Instagram    290
Name: Answer, dtype: int64

In [32]:
# Convert Series into a DataFrame
answer_df = pd.DataFrame(answer_count)
answer_df

           Answer
Twitter       290
Snapchat      290
Facebook      290
None          290
Instagram     290

In [ ]:
##GRAPH