Twitter Anaylsis - CSV Tables

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import glob

In [9]:
#data files
Twitter_API_Table = "csv_output/Twitter_API_Table1.csv"
Twitter_API_Table2 = "csv_output/Twitter_API_Table2.csv"

#read files
Twitter_API_Table  = pd.read_csv(Twitter_API_Table)
Twitter_API_Table2 = pd.read_csv(Twitter_API_Table2)

#Add blank column to merge data
Twitter_API_Table["Column"] = ""
Twitter_API_Table2 ["Column"] = ""

In [10]:
#Merge Data
Combined_df = pd.concat([Twitter_API_Table, Twitter_API_Table2], axis=1, join="inner")
Combined_df.set_index("Column", inplace=True)

print(Combined_df.head())
Combined_df.to_csv("combined_df.csv")

        Unnamed: 0               source  \
Column
(, )             0  Twitter for Android
(, )             1              Twitter
(, )             2      Twitter Web App
(, )             3              Twitter
(, )             4      Twitter Web App

                                                     text  \
Column
(, )    RT @FortuneMagazine: MTN is making its network...
(, )    Amazonâ€‹.de: AMD Ryzen 9 5950X Box\nðŸ”— https://t...
(, )    RT @TeamSChandna: Watch #SurbhiChandna's new #...
(, )    Gardenrooms and sheds to read your books.. #ga...
(, )    RT @studiosounds: #Listen to Dayne S - Moments...

                      created_at            author_id lang  \
Column
(, )    2021-10-27T21:24:30.000Z            197257623   en
(, )    2021-10-27T21:24:22.000Z  1318432664496623616   en
(, )    2021-10-27T21:24:20.000Z  1018893163925331968   en
(, )    2021-10-27T21:24:14.000Z   705402063728017408   en
(, )    2021-10-27T21:24:09.000Z           3889570332   en

        possibly_sensitive                   id       normalized_text  \
Column
(, )                  True  1453472698349326338                   MTN
(, )                 False  1453472665193394189                   NaN
(, )                 False  1453472656682991617  Vitamin C Face Serum
(, )                 False  1453472634319122433                   NaN
(, )                  True  1453472610553974786               Dayne S

        probability  ...  tag 2   tag 3       tag 4 tag 5 Mentions Total  \
Column               ...
(, )         0.6382  ...    NaN     NaN         NaN   NaN              1
(, )            NaN  ...    NaN     NaN         NaN   NaN              1
(, )         0.4456  ...    NaN     NaN         NaN   NaN              0
(, )            NaN  ...  deals  Coupon  discounted  sale              0
(, )         0.7524  ...    NaN     NaN         NaN   NaN              1

       retweet count reply count  like count  quote count  possibly_sensitive
Column
(, )             177           0           0            0               False
(, )               2           0           0            0               False
(, )               0           0           0            0               False
(, )               0           0           0            0               False
(, )             177           0           0            0               False

[5 rows x 45 columns]